#fti_page_templates_templateList,
#fti_page_templates_pageList {
  width: 50%; }
  #fti_page_templates_templateList thead tr,
  #fti_page_templates_pageList thead tr {
    background-color: darkgrey; }
    #fti_page_templates_templateList thead tr td,
    #fti_page_templates_pageList thead tr td {
      text-align: left; }
  #fti_page_templates_templateList tbody td:nth-of-type(3),
  #fti_page_templates_pageList tbody td:nth-of-type(3) {
    text-align: right; }

#fti_page_templates_form {
  margin-bottom: 10px; }

#fti_page_templates_pageList * td {
  text-align: left !important; }
